
prac_web_project/.idea/workspace.xml
prac_web_project/.idea/workspace.xml
application-oauth.properties
*.bin
prac_web_project/.gradle/4.10.2/fileHashes/fileHashes.bin
prac_web_project/.gradle/4.10.2/fileHashes/fileHashes.lock
prac_web_project/.gradle/4.10.2/javaCompile/javaCompile.lock
prac_web_project/.gradle/4.10.2/javaCompile/taskHistory.bin
prac_web_project/.gradle/4.10.2/taskHistory/taskHistory.bin
prac_web_project/.gradle/4.10.2/taskHistory/taskHistory.lock
prac_web_project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
prac_web_project/.idea/workspace.xml
